body{
background: rgb(2,0,36);
background: linear-gradient(229deg, rgba(2,0,36,1) 1%, rgba(9,103,121,0.73109243697479) 25%, rgba(39,172,200,1) 71%);
}
#banner {
    font-family: "Century Gothic";
  font-size: 20px;
  color: #FF7A59;
}
@font-face {
    font-family: 'bs';
    src: url(bs.otf);
}
@font-face {
    font-family: 'h1';
    src: url(BetterGrade-519DV.ttf);
}
h1 {
    font-family: "h1", sans-serif;
    font-size: 6em;
}
