body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.signup, .login{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.signup label, .signup select, .login label, .login select{
  text-align: left;
  display: block;
}

.signup input, .login input {

  display: block;
}

.signup button, .login button, .logout button{
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.profileTile, .bookingTile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 300px;
  padding: 20px;
  border-style: solid;
  border-width: thin;
}

.logout {
  margin: auto;
}
